.x-tool-search {
	color:#ffffff;
	}

.x-tool-help {
	color:#ffffff;
	}
	
.x-tool-close {
	color:#ffffff;
	}

.th {
    
    padding: 10px 20px;
   }


@font-face {
    font-family: GraublauWeb;
    src: url(file///home/user/MyProjects/forest-venv/lesoved/static/forest/app/fonts/ElektraText.otf) format("opentype");
}


.header-cls{
    background-color:#1E1846;
    font-family: 'Exo 2', sans-serif;
    color:#415b76;
    font-size: 20px;
    font-weight: 1000;
	font-style: bold;
	
}

.hdr2{
    background-color: #004A97; 
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 1000;
	font-style: bold;
	color:#ffffff;
	float:right;
}

.tab2{
	color: #8EA6B8;
}
/*c5dfc5  9cc2af 56927e 447f70 114c44*/
/*or
233656 415b76 7b9ba6 cdd6d5 eef4f2
*/
.toolbars{
	background-color: #004A97;
	
}

.grbuttons{
	background-color: #004A97;
	font-family: 'Exo 2', sans-serif;
	font-weight: 850;
	font-size:18px;
	color:#ffffff;
	font-style: normal;
	margin:0;
	-webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
}




.grbuttons:hover{
	background-color:#D96340;
	font-family: 'Exo 2', sans-serif;

	font-weight: 850;
	font-size:18px;
	color:#ffffff; 
	font-style: normal;
	-webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
	
}


.grbuttons:active{
	background-color:#004A97;
	font-family: 'Exo 2', sans-serif;

	font-weight: 850;
	color:#ffffff; 
	font-size:18px;
	font-style: normal;
	-webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
	
}

.grbuttonsBig{
	background-color:#004A97;
	font-family: 'Exo 2', sans-serif;

	font-weight: 850;
	color:#ffffff;
	font-style: normal;
	height: 50;
    resize: both;
    overflow: auto;
    font-size:20px;
    width: 200;
    margin: auto;
 
    
}

.grbuttonsBig:hover{
	background-color:#D96340;
	font: font-family: 'Exo 2', sans-serif;

	font-weight: 850;
	color:#ffffff; 
	font-style: normal;
	height: 50;
	width: 200;
    resize: both;
    overflow: auto;
    font-size:20px;
    margin: auto;
    
}

.grbuttonsBig:active{
	background-color:#004A97;
	font: font-family: 'Exo 2', sans-serif;

	font-weight: 850;
	color:#ffffff; 
	font-style: normal;
	height: 50;
	width: 200;
    resize: both;
    overflow: auto;
    font-size:20px;
    margin: auto;
}








.mapandetc{
    width: 100%;
    height: calc(var(--vh, 1vh) * 10);
    resize: both;
    overflow: auto;
    font-size:25px;
	font-weight:bold;
	
}

.fielddesign {
font-size: 20px;
font-weight:bold;
     
}

.viewresize{
	height: calc(var(--vh, 1vh) * 5);
}


.header-title-cls{
    color : #FFFFFF !important;
}

.colorful {
  background:
    -webkit-linear-gradient(315deg, hsla(106.28, 100%, 28.78%, 1) 0%, hsla(106.28, 100%, 28.78%, 0) 70%),
    -webkit-linear-gradient(65deg, hsla(88.3, 96.43%, 41.71%, 1) 10%, hsla(88.3, 96.43%, 41.71%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(76.98, 87.74%, 56.37%, 1:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a946f5), color-stop(1, #a946f5) );
	background:-moz-linear-gradient( center top, #a946f5 5%, #a946f5 100% );) 15%, hsla(76.98, 87.74%, 56.37%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(48.42, 91.1%, 46.69%, 1) 100%, hsla(48.42, 91.1%, 46.69%, 0) 70%);
  background:
    linear-gradient(135deg, hsla(106.28, 100%, 28.78%, 1) 0%, hsla(106.28, 100%, 28.78%, 0) 70%),
    linear-gradient(25deg, hsla(88.3, 96.43%, 41.71%, 1) 10%, hsla(88.3, 96.43%, 41.71%, 0) 80%),
    linear-gradient(315deg, hsla(76.98, 87.74%, 56.37%, 1) 15%, hsla(76.98, 87.74%, 56.37%, 0) 80%),
    linear-gradient(245deg, hsla(48.42, 91.1%, 46.69%, 1) 100%, hsla(48.42, 91.1%, 46.69%, 0) 70%);
  }
  
 


.myRenter{
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-image: url('http://udmtv.ru/upload/iblock/f81/f811ef192f3f18b7afb904426840e778.jpg');
	resize: both;
    overflow: auto;
	display:inline-block;
	text-shadow: 1px 1px 1px #000; 
	height: 300px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:40px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	
}

 
 .myCut{
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-image: url('https://www.pressdemocrat.com/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=Q6FuMh1M9oFpkUMcGiQkMM$daE2N3K4ZzOUsqbU5sYtQrbLXDrKcLA8RMrqz7xN0WCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg');
	resize: both;
    overflow: auto;
	display:inline-block;
	text-shadow: 1px 1px 1px #000; 
	height: 300px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:40px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
  
  
  
  
 .myAgr{
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-image: url('https://bigpicture.ru/wp-content/uploads/2011/11/17117.jpg');
	display:inline-block;
	text-shadow: 1px 1px 1px #000; 
	height: 300px;
	cursor:pointer;
	color:#ffffff;
	resize: both;
    overflow: auto;
	font-family:Arial;
	font-size:40px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
  
.myQuart{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-image: url('http://vestnik-lesnoy.ru/wp-content/uploads/2016/08/forest-272595_1280.jpg');
	resize: both;
    overflow: auto;
	display:inline-block;
	text-shadow: 1px 1px 1px #000; 
	height: 300px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:40px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

  
  
.colorful2 { 
/* Generated with http://gradient.quasi.ink */
  background-image: url('/home/user/Документы/Abstract.jpg');

}


.foresBack{
	background-image: url("https://www.mostphotos.com/coverimage/aplog1");
    background-repeat: no-repeat;
    background-position:  bottom;
    margin-right: 200px;
    background-attachment: fixed;

}










.justbuttons{
	background-color:#004A97;
	font-family: 'Exo 2', sans-serif;
	font-weight: 850;
	font-size:18px;
	color:#ffffff;
	font-style: normal;
	margin:0;
	
}




.justbuttons:hover{
	background-color:#ffffff;
	font-family: 'Exo 2', sans-serif;

	font-weight: 850;
	font-size:18px;
	color:#145BA6; 
	font-style: normal;
	
	
}


.justbuttons:active{
	background-color:#004A97;
	font-family: 'Exo 2', sans-serif;

	font-weight: 850;
	color:#ffffff; 
	font-size:18px;
	font-style: normal;
	
}


.buttonsforsave{
	background-color:#D96340;
	font-family: 'Exo 2', sans-serif;

	font-weight: 850;
	font-size:18px;
	color:#ffffff; 
	font-style: normal;
	
}